body{
    background-color: beige;
}

.bg-beige{
    background-color: beige !important;
}

.pointer{
    cursor: pointer;
}

.card {
    width: 90%;
    border: none
}

.dots {
    height: 20px;
    width: 20px;
    margin-top: 4px;
    margin-left: 4px;
    background-color: #008cba;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 10px
}

.list li {
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    border-top: 1px solid #eee;
    cursor: pointer
}

.list li:hover {
    color: #008cba
}

.card-subheader{
    color: grey !important;
}
.list li:hover .card-subheader{
    color: #008cba !important;
}

